:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #f1ffc4;
  --text-secondary: #ffe66d;
  --bg-primary: #071013;
  --bg-secondary: #5c5d8d;
  --transition-speed: 0.2s;
}

body {
  color: whitesmoke;
  background-image: url(images/low-poly-grid-haikei.svg);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background-color: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  width: 100%;
  height: 5rem;
  position: sticky;
  top: 0;
  background-color: var(--bg-primary);
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.nav-item {
  width: 25%;
}

.nav-item {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  min-width: 5rem;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
  min-width: 5rem;
}


.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.navbar:hover {
  width: 100%;
}

.navbar:hover .link-text {
  display: block;
  transition: var(--transition-speed);
}

/* h1 {
  margin-top:
} */

